.container {
  #detail {
    min-height: 62.6vh;
    background: url(../../assets/Images/content3.jpg);
    background-size: 100% 100%;
    border-radius: 15px;
    img {
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }
  }
  .row {
    // display: -webkit-box;
    margin-bottom: 20px;
    .col-md-5 .order-md-1 ::after,
    ::before {
      box-sizing: border-box;
    }
  }
}
#imageDetail {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 25px 0 10px;
}
#detail {
  margin: 0 0 20px;
}
#fontArticle {
  font-size: 1.15rem;
  font-weight: 400;
}

#buttons {
  // display: inline;
  align-items: center;
  margin-bottom: 78px;
}