.col-xs-1 {
    margin-top: 70px;
    position: relative;
    height: 61.1vh;
    display: block;
    border-radius: 20px;
    font-family: Stalemate, sans-serif;
    font-size: 70px;
    color: #FFFF00;
}
@font-face {
    font-family: Stalemate;
    src: url("./Stalemate.ttf");
};