body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/Images/background1.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0;
}

html {
  height: 100%;
}

#root {
  min-height: 959px;
}